.main-content {
    position: relative;
}

.body-content {
    position: absolute;
    top: 200px;
}

.profil-pict {
    width: 250px;
    height: 350px;
    margin: 0 auto;
}

.profil-pict img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.top-jumbotron {
    background-color: rgba(171, 132, 200, 0.5);
    height: 350px;
}

.small-icon {
    width: 20px;
}

.btn-hire {
    background-color: #AB84C8;
    color: #FFF;
    width: 170px;
}

/* DESKTOP */

@media only screen and (min-width: 992px) {
    .profil-pict {
        max-width: 250px;
        max-height: 305px;
        width: 100%;
        height: 100%;
    }
    .profil-pict img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
    .btn-hire-parent {
        /* margin-top: 15vh; */
    }
    .skill-parent {
        margin-top: 10vh;
    }
}