.modal-header {
  background: rgba(171, 132, 200, 0.5);
  color: #ffffff;
  text-align: center;
}

.tengah {
  width: 100%;
  text-align: center;
}

.btn-save {
  color: #ffffff;
  background-color: #ab84c8;
}
