header {
  display: flex;
  position: fixed;
  height: 10vh;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 100;
  top:0;
}

.logo {
  width: 25%;
  height: 100%;
  max-width: 144px;
  align-self: center;
}

.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.search-group {
  display: flex;
  width: 100%;
  height: 50%;
  margin: auto 10px;
  /* margin: 15% 0; */
  background: #dadada;
  border-radius: 10px;
  position: relative;
}

.search-icon {
  width: 20%;
  height: 100%;
  max-width: 81.59px;
  position: relative;
  display: flex;
}

.search-icon img {
  width: 60%;
  height: 60%;
  -o-object-fit: contain;
  object-fit: contain;
  align-self: center;
  margin: auto;
}

input[name="search"] {
  width: 80%;
  height: 60%;
  align-self: center;
  vertical-align: middle;
  border-width: 0px;
  font-size: 1.75rem;
  background: #dadada;
  color: #9b9b9b;
  font-weight: bold;
  padding: 0px 10px 0 0px;
  border-radius: 5px;
}

input[name="search"]:focus {
  outline: none !important;
}

.menu-icon {
  width: 15%;
  height: 100%;
  max-width: 59.56px;
  display: flex;
}

.menu-icon img {
  width: 50%;
  height: 50%;
  -o-object-fit: contain;
  object-fit: contain;
  margin: auto;
}

.home-button {
  width: 15%;
  display: none;
  border-width: 0px;
  background-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  font-size: 2rem;
  margin: auto;
  font-weight: bold;
}

.user-group {
  width: 15%;
  display: none;
  margin: auto;
}

.user-group p {
  height: 100%;
  // display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 10px;
  font-size: 2rem;
  color: #9b9b9b;
  font-weight: bold;
  line-height: 4rem;
}

.user-icon {
  width: 40px;
  height: 40px;
  // margin: auto;
  border-radius: 50%;
  background: #9b9b9b;
}

.user-group .user-icon p {
  margin: auto;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  line-height: 4rem;
}

.icon-group {
  display: none;
  width: 20%;
}

.box {
  width: 10%;
  height: 40%;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #cecece;
  margin: auto;
}

.chat {
  width: 40%;
  height: 100%;
  display: flex;
  align-self: center;
}

.chat img {
  width: 40%;
  height: 40%;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

.notification {
  width: 40%;
  height: 100%;
  display: flex;
  align-self: center;
}

.notification img {
  width: 40%;
  height: 40%;
  margin: auto;
  -o-object-fit: contain;
  object-fit: contain;
}

@media all and (min-width: 992px) {
  .search-group {
    width: calc((40%-10px)- (180px));
  }
  .home-button {
    width: 15%;
    display: flex;
    justify-content: center;
  }

  .user-group {
    width: 20%;
    display: flex;
  }

  .icon-group {
    display: flex;
    width: 25%;
    margin-right: 10px;
  }
  .menu-icon {
    width: 15%;
    height: 100%;
    max-width: 59.56px;
    display: none;
  }
}

@media all and (min-width: 576px) {
  .search-group {
    width: calc(100%- (180px + 59.56px));
  }
}
