.modal-header {
  background: rgba(171, 132, 200, 0.5);
  color: #ffffff;
  text-align: center;
}

.tengah {
  width: 100%;
  text-align: center;
}

.img-star {
  width: 2.5vh;
  margin-right: 0.8vh;
}
